<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Vue.js ToDoList学習</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div id="app">
    <input type="text" v-model="message">
    <ul>
      <li v-for="thing in things">
        <label>
          <input type="checkbox" v-model="thing.isChecked"> {{ thing.title }}
        </label>
      </li>  
    </ul>
    <button v-on:click="add">add</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="main.js"></script>

</body>
</html>
